/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

:root {
	--red: #ED4264;
	--yellow: #FFEDBC;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100vh;
}

body {
  	font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
	background: var(--red);  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, var(--yellow), var(--red));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, var(--yellow), var(--red)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
}

main {
	height: 94%;
}

footer {
	height: 6%;
	float: right;
	padding-right: 15px;
	display: flex;
	align-items: center;
}